<app-header bg_color="black"></app-header>
<div class="content" style="margin-bottom:20px">
    <form>
        <!-- <label for="name" required>Nome*:</label><br> -->
        <input type="text" id="name" name="name" required placeholder="Nome"><br>
        <!-- <label for="email" required>Email*:</label><br> -->
        <input type="text" id="email" name="email" required placeholder="Email"><br>
        <!-- <label for="message" required>Messaggio*:</label><br> -->
        <textarea id="message" name="message" placeholder="Messaggio"></textarea><br>
        <button type="submit">Invia</button>
    </form>
</div>
<div style="text-align:center">
    <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1384.12292121596!2d11.14927088161661!3d46.06613897472147!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4782769503229ff9%3A0xc214a9f3a4958ca6!2sDipartimento%20di%20Ingegneria%20e%20Scienza%20dell&#39;Informazione!5e0!3m2!1sit!2sit!4v1671547424671!5m2!1sit!2sit"
        width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
        referrerpolicy="no-referrer-when-downgrade" width="70%" height="450" frameborder="5px" style="border:5px"
        allowfullscreen></iframe>
</div>