<main>
    <img [src]='imgUrl | safe:"url"' alt="itemImage" class="item_img">
    <!-- safe(imgUrl, "url") -->
    <div class="data">
        <span class="name">
            {{ item?.name || ""}}
        </span>
        <span class="price">
            &euro;{{ item?.price || "" }}
        </span>
        <span class="description">
            {{ item?.description || "" }}
        </span>
        <button (click)="addToCart()">
            Aggiungi al carrello
        </button>
    </div>
</main>