
<main>
    <img [src]='imgUrl | safe:"url"' alt="itemImage" class="item_img">
    <!-- safe(imgUrl, "url") -->
    <div class="data">
        <span class="name">
            {{product.name}}
        </span>
        <span class="price">
            &euro;{{product.price}}
        </span>
        <label for="size">Taglia:</label>
        <select id="size" name="size">
            <option value="s">S</option>
            <option value="m">M</option>
            <option value="l">L</option>
            <option value="xl">XL</option>
        </select>
        <button type="submit" id="purchase-button">Add to Cart</button>
    </div>
</main>