<main [style] = "background_color">
    <span class="title">
        <a routerLink="/home">
            CHAD GYM
        </a>
    </span>
    <div class="menu">
        <ul>
            <li *ngFor="let item of menuItems">
                <span>
                    <a [routerLink]="item.link" class="menu-item">
                        {{item.name}}
                    </a>
                </span>
            </li>
           <!-- <li>
                <span>
                    <a class="menu-item">
                      Carrello  <i-bs class="cart" height="25px" width="25px"></i-bs>
                    </a>
                </span>
            </li>-->
            <li>
                <span>
                    <a class="menu-item" (click)="toggleLogin()" *ngIf="!loginService.token; else logout">
                        {{loginService.token ? 'Logout' : 'Login'}}
                    </a>
                    <ng-template #logout>
                        <a class="menu-item" (click)="loginService.logout()">
                            Logout
                        </a>
                    </ng-template>
                </span>
            </li>
        </ul>
    </div>
</main>
<div class="login center-login">
    <app-login-form (loginStateChange)="toggleLogin()" ></app-login-form>
</div>